{% extends 'base.html.twig' %}

{% block body %}
<div style="text-align:center; margin-top: 15em;">
<h1>Merci ! Votre compte a bien été activé !</h1>

<p><a href="{{ path('security_login') }}">Connectez vous</a> pour avoir accès à toutes les fonctionnalités du site </p>
</div>
{% endblock %}