{% extends 'base_admin.html.twig' %}

{% block title %}{% endblock %}
{% block contenu %}
 {% if editMode %}
 <h1> edition </h1>
 {% else %}
  <h1> ajout </h1>
   {% endif %}


   {{ form_start(formConceptor) }}
   {{ form_widget(formConceptor )}}
   {{ form_end(formConceptor )}}

   {% endblock %}