{% extends 'base.html.twig' %}

{% block body %}

<div style="text-align: center;margin-top: 12em;">
<h1 style="margin-bottom: 1em;"> Merci pour votre achat !!</h1>
Vous pouvez telecharger un pdf de  votre commande dans votre <a href="{{ path('purchase_list') }}">historique de commande</a>
</div>

{% endblock %}